In [1]:
import numpy as np
from sklearn.preprocessing import OneHotEncoder

In [2]:
import pandas as pd

In [80]:
data = pd.read_csv('introML2019F.task6.train.csv')

In [81]:
data[0:3]

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,...,feature_14,feature_15,feature_16,feature_17,feature_18,feature_19,feature_20,feature_21,label,Unnamed: 23
0,0.50264,0.62412,0.79885,0.44321,0.14425,1.47105,0.66733,0.52906,0.14763,0.31768,...,0.69884,0.16976,0.63308,0.61545,0.09912,0.25179,0.48852,A,4,NaN
1,1.70773,0.06547,0.19182,0.60932,0.09782,0.66597,1.48079,0.62670,0.06620,0.22745,...,0.37647,0.13583,0.69156,0.25166,0.55700,0.96820,0.53283,C,0,NaN
2,0.07966,0.31402,0.91585,0.10647,0.23349,1.70121,1.08500,0.71929,0.11295,0.14545,...,0.93084,0.04318,0.87595,0.27953,0.85521,0.00026,0.53573,A,4,NaN

In [82]:
trainx = data.iloc[:,list(range(22))]
trainy = data.iloc[:,22]

In [83]:
trainx= pd.get_dummies(trainx)

In [85]:
def shuffle(X):
    np.random.seed(10)
    randomList = np.arange(X.shape[0])
    np.random.shuffle(randomList)
    return X[randomList]

In [84]:
trainx = trainx.to_numpy()
trainy = trainy.to_numpy()

In [86]:
trainx = shuffle(trainx)
trainy = shuffle(trainy)

In [87]:
from sklearn.ensemble import RandomForestClassifier

In [88]:
clf = RandomForestClassifier(n_estimators=10,max_depth=10, random_state=1)

In [89]:
clf.fit(trainx[0:100000],trainy[0:100000])

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=10, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=1, verbose=0,
                       warm_start=False)

In [90]:
clf.score(trainx[150000:200000],trainy[150000:200000])

0.99886

In [91]:
test = pd.read_csv("introML2019F.task6.test.shuffled.noanswers.csv")
test = pd.get_dummies(test)

In [92]:
result = clf.predict(test)

In [93]:
ID = 1
answer = []
for Category in result:
    answer.append([ID,int(Category)])
    ID+=1

In [94]:
import csv

with open('output111.csv', 'w', newline='') as csvfile:
    writer = csv.writer(csvfile)
    writer.writerow(['ID', 'Category'])
    writer.writerows(answer)